body {
    background-color:rgb(14, 13, 13);
    font-family: 'Raleway', sans-serif;
animation: body 1s;
background-image:url(gta.jpg) ;
background-repeat: no-repeat;
background-size: 100%;
}


@keyframes body {
    50%{opacity:.1;}
    100%{opacity:1;}
}
h2 {
text-align: center;
color:rgb(0, 0, 0);
font-family: 'Rubik Glitch', cursive;
}

ul li ul li {
    display:none;
    background-color: rgb(255, 255, 255);
    color:rgb(255, 255, 255);
    text-align: center;

}

ul li:hover ul li  {
    display:flex;
    color:rgb(228, 228, 228);
    background-color: rgb(0, 0, 0);
    border:2px solid lime;
    padding:5px 15px;
    align-items: center;
    justify-content: center;
}
.w {
    background-color: black;
    padding: 20px 10px;
    margin: none;
    
}


a {
    color:rgb(255, 255, 255);
    text-decoration: none;
    margin-left:10px
    
   
}

a:hover {
    animation: hkf 2s infinite;
}

@keyframes hkf {
    50%{color:grey;}
    75%{color:rgb(148, 146, 146);}
    100%{color:white;}
}

li {
    list-style: none;
    float:right;
    margin-left: 20px;
}
